networks:
  dev:

services:
  smti:
    image: smti
    build:
      context: .
      dockerfile: Dockerfile
    networks:
      - dev
    ports:
      - "8080:8080"
    environment:
      - ENVIRONMENT=development
      - MQTT_BROKER=tcp://192.168.1.110:1883
      - INFLUX_URL=http://192.168.1.152:8086
      - INFLUX_TOKEN=your-token-here
      - INFLUX_ORG=schloss
      - INFLUX_BUCKET=shelly

  mqtt:
    image: eclipse-mosquitto:2
    networks:
      - dev
    ports:
      - "1883:1883"
    volumes:
      - ./docker/mqtt-noauth.conf:/mosquitto/config/mosquitto.conf:ro
  